In [59]:
import urllib
import json
import pandas as pd

# Call API

In [60]:
#stats_api_url = "http://api.stats.com/v1/stats/"+ \
#"football/nfl/stats/teams/"+ \
#'332' + \
#"/?accept=json"+ \
#"&api_key=cfhetjz7nrc9sg4qp5pjr4wf"+ \
#"&sig=ca0f817301a50eb96fd4dcf5eedbb97e9fae1dc78cc7a2b65b769d080f046d52"

In [61]:
#stats_api_url

In [62]:
#r = requests.get(stats_api_url)
#r.json()

# From File - 1 player

In [63]:
# Read Data from file
with open('./data/nbaplayers.json') as json_data:
    d = json.load(json_data)
#d

In [64]:
for key in d:
    print key

status
recordCount
startTimestamp
timeTaken
apiResults
endTimestamp

# Keys in apiResults

In [65]:
head = d['apiResults'][0]['league']['players'][0]
for key in head:
    print key

hometown
positions
firstName
isInjured
playerId
lastName
isSuspended
weight
uniform
draft
experience
birth
team
displayId
college
highSchool
height
isActive

In [66]:
pd.DataFrame(head.items())

              0                                                  1
0      hometown  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
1     positions  [{u'positionId': 6, u'abbreviation': u'PF', u'...
2     firstName                                             Jarell
3     isInjured                                               True
4      playerId                                             744245
5      lastName                                             Martin
6   isSuspended                                              False
7        weight           {u'kilograms': 106.59, u'pounds': 235.0}
8       uniform                                                 10
9         draft  {u'team': {u'abbreviation': u'Mem', u'teamId':...
10   experience          {u'yearRookie': 2015, u'yearFirst': 2015}
11        birth  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
12         team  {u'abbreviation': u'Mem', u'teamId': 29, u'nic...
13    displayId                                                  0
14      college  {u'fullName': u'Louisiana State University', u...
15   highSchool  {u'country': {}, u'state': {}, u'name': u'Madi...
16       height           {u'centimeters': 208.0, u'inches': 82.0}
17     isActive                                               True

In [67]:
# change list(dict) to dict for position
head['positions'] = {'name': head['positions'][0]['name']}

In [68]:
pd.DataFrame(head.items())

              0                                                  1
0      hometown  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
1     positions                        {u'name': u'Power Forward'}
2     firstName                                             Jarell
3     isInjured                                               True
4      playerId                                             744245
5      lastName                                             Martin
6   isSuspended                                              False
7        weight           {u'kilograms': 106.59, u'pounds': 235.0}
8       uniform                                                 10
9         draft  {u'team': {u'abbreviation': u'Mem', u'teamId':...
10   experience          {u'yearRookie': 2015, u'yearFirst': 2015}
11        birth  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
12         team  {u'abbreviation': u'Mem', u'teamId': 29, u'nic...
13    displayId                                                  0
14      college  {u'fullName': u'Louisiana State University', u...
15   highSchool  {u'country': {}, u'state': {}, u'name': u'Madi...
16       height           {u'centimeters': 208.0, u'inches': 82.0}
17     isActive                                               True

In [69]:
# print function
# from __future__ import print_function
# Name
print head['firstName'], head['lastName']

Jarell Martin

In [70]:
# PlayerID
print head['playerId']

744245

In [71]:
# height and weight
print head['height'], head['weight']

{u'centimeters': 208.0, u'inches': 82.0} {u'kilograms': 106.59, u'pounds': 235.0}

In [72]:
# birthDate
print head['birth']['birthDate']['full']

1994-05-24

In [73]:
# hometown
print head['hometown']['city'], head['hometown']['state']['abbreviation']

Baton Rouge LA

In [74]:
# college
print head['college']

{u'fullName': u'Louisiana State University', u'commonName': u'LSU', u'collegeId': 76}

In [75]:
# draft
print head['draft']

{u'team': {u'abbreviation': u'Mem', u'teamId': 29, u'nickname': u'Grizzlies', u'location': u'Memphis'}, u'roundPickNumber': 25, u'round': 1, u'overallPickNumber': 25, u'year': 2015}

# DataFrame

In [76]:
from pandas.io.json import json_normalize
json_normalize(head)

,birth.birthDate.date,birth.birthDate.full,birth.birthDate.month,birth.birthDate.year,birth.city,birth.country.abbreviation,birth.country.countryId,birth.country.name,birth.state.abbreviation,birth.state.name,...,lastName,playerId,positions.name,team.abbreviation,team.location,team.nickname,team.teamId,uniform,weight.kilograms,weight.pounds
0,24,1994-05-24,5,1994,Baton Rouge,USA,1,United States,LA,Louisiana,...,Martin,744245,Power Forward,Mem,Memphis,Grizzlies,29,10,106.59,235

## From File - 2015nbaplayerlist

In [77]:
# Read Data from file
with open('./data/2015nbaplayerslist.json') as json_data:
    k = json.load(json_data)
#k

In [78]:
players_2015 = k['apiResults'][0]['league']['players']

In [79]:
len(players_2015)

484

In [80]:
players_2015_0 = k['apiResults'][0]['league']['players'][0]

In [81]:
pd.DataFrame(players_2015_0.items())

              0                                                  1
0      hometown  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
1     positions  [{u'positionId': 6, u'abbreviation': u'PF', u'...
2     firstName                                             Jarell
3     isInjured                                               True
4      playerId                                             744245
5      lastName                                             Martin
6   isSuspended                                              False
7        weight           {u'kilograms': 106.59, u'pounds': 235.0}
8       uniform                                                 10
9         draft  {u'team': {u'abbreviation': u'Mem', u'teamId':...
10   experience          {u'yearRookie': 2015, u'yearFirst': 2015}
11        birth  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
12         team  {u'abbreviation': u'Mem', u'teamId': 29, u'nic...
13    displayId                                                  0
14      college  {u'fullName': u'Louisiana State University', u...
15   highSchool  {u'country': {}, u'state': {}, u'name': u'Madi...
16       height           {u'centimeters': 208.0, u'inches': 82.0}
17     isActive                                               True

In [82]:
for i in range(0, 484):
    players_2015[i]['positions'] = {'name':players_2015[i]['positions'][0]['name']}

In [83]:
pd.DataFrame(players_2015_0.items())

              0                                                  1
0      hometown  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
1     positions                        {u'name': u'Power Forward'}
2     firstName                                             Jarell
3     isInjured                                               True
4      playerId                                             744245
5      lastName                                             Martin
6   isSuspended                                              False
7        weight           {u'kilograms': 106.59, u'pounds': 235.0}
8       uniform                                                 10
9         draft  {u'team': {u'abbreviation': u'Mem', u'teamId':...
10   experience          {u'yearRookie': 2015, u'yearFirst': 2015}
11        birth  {u'city': u'Baton Rouge', u'state': {u'abbrevi...
12         team  {u'abbreviation': u'Mem', u'teamId': 29, u'nic...
13    displayId                                                  0
14      college  {u'fullName': u'Louisiana State University', u...
15   highSchool  {u'country': {}, u'state': {}, u'name': u'Madi...
16       height           {u'centimeters': 208.0, u'inches': 82.0}
17     isActive                                               True

In [84]:
from pandas.io.json import json_normalize
json_normalize(players_2015)

,birth.birthDate.date,birth.birthDate.full,birth.birthDate.month,birth.birthDate.year,birth.city,birth.country.abbreviation,birth.country.countryId,birth.country.name,birth.state.abbreviation,birth.state.name,...,lastName,playerId,positions.name,team.abbreviation,team.location,team.nickname,team.teamId,uniform,weight.kilograms,weight.pounds
0,24,1994-05-24,5,1994,Baton Rouge,USA,1,United States,LA,Louisiana,...,Martin,744245,Power Forward,Mem,Memphis,Grizzlies,29,10,106.59,235
1,13,1989-06-13,6,1989,Gastonia,USA,1,United States,NC,North Carolina,...,Whiteside,513234,Center,Mia,Miami,Heat,14,21,106.59,235
2,21,1983-06-21,6,1983,Friendswood,USA,1,United States,TX,Texas,...,Price,76032,Point Guard,Pho,Phoenix,Suns,21,14,86.18,190
3,25,1976-04-25,4,1976,St. Croix,VIR,6,U.S. Virgin Islands,NaN,NaN,...,Duncan,3155,Center,SA,San Antonio,Spurs,24,21,113.40,250
4,1,1983-02-01,2,1983,Zanesville,USA,1,United States,OH,Ohio,...,Martin,66903,Shooting Guard,Min,Minnesota,Timberwolves,16,23,92.53,204
5,11,1991-02-11,2,1991,Titograd,YUG,46,Yugoslavia,NaN,NaN,...,Mirotic,599809,Power Forward,Chi,Chicago,Bulls,4,44,99.79,220
6,21,1989-10-21,10,1989,Benin City,NGA,68,Nigeria,NaN,NaN,...,Ezeli,417020,Center,GS,Golden State,Warriors,9,31,120.20,265
7,28,1981-09-28,9,1981,Villanueva de la Serena,ESP,39,Spain,NaN,NaN,...,Calderon,296475,Point Guard,NY,New York,Knicks,18,3,95.25,210
8,19,1989-09-19,9,1989,Chester,USA,1,United States,PA,Pennsylvania,...,Evans,464841,Shooting Guard,NO,New Orleans,Pelicans,3,1,99.79,220
9,6,1993-01-06,1,1993,Arlington,USA,1,United States,MA,Massachusetts,...,Connaughton,601514,Small Forward,Por,Portland,Trail Blazers,22,5,95.25,210
10,13,1995-07-13,7,1995,Melbourne,AUS,8,Australia,NaN,NaN,...,Exum,830636,Point Guard,Uta,Utah,Jazz,26,11,86.18,190
11,16,1994-03-16,3,1994,Yaounde,CMR,127,Cameroon,NaN,NaN,...,Embiid,794508,Center,Phi,Philadelphia,76ers,20,21,113.40,250
12,5,1987-10-05,10,1987,Nashville,USA,1,United States,TN,Tennessee,...,Wright,329675,Power Forward,Mem,Memphis,Grizzlies,29,34,108.86,240
13,8,1994-05-08,5,1994,Sheboygan,USA,1,United States,WI,Wisconsin,...,Dekker,691518,Small Forward,Hou,Houston,Rockets,10,7,104.33,230
14,10,1988-03-10,3,1988,Fresno,USA,1,United States,CA,California,...,Pondexter,329825,Small Forward,NO,New Orleans,Pelicans,3,20,99.79,220
15,16,1982-10-16,10,1982,Minneapolis,USA,1,United States,MN,Minnesota,...,Anderson,66858,Shooting Guard,Was,Washington,Wizards,27,6,99.79,220
16,5,1995-02-05,2,1995,Bronx,USA,1,United States,NY,New York,...,McCullough,851153,Power Forward,Bkn,Brooklyn,Nets,17,1,95.25,210
17,10,1987-05-10,5,1987,Benton Harbor,USA,1,United States,MI,Michigan,...,Chandler,295941,Small Forward,Den,Denver,Nuggets,7,21,102.06,225
18,21,1987-08-21,8,1987,Nashville,USA,1,United States,TN,Tennessee,...,Meeks,329862,Shooting Guard,Det,Detroit,Pistons,8,20,95.25,210
19,24,1991-12-24,12,1991,Houston,USA,1,United States,TX,Texas,...,Moreland,553542,Power Forward,Sac,Sacramento,Kings,23,25,107.95,238
20,9,1989-12-09,12,1989,Birmingham,USA,1,United States,AL,Alabama,...,Bledsoe,509449,Point Guard,Pho,Phoenix,Suns,21,2,86.18,190
21,6,1985-02-06,2,1985,Minneapolis,USA,1,United States,MN,Minnesota,...,Humphries,229649,Power Forward,Was,Washington,Wizards,27,43,106.59,235
22,7,1978-07-07,7,1978,Lola,USA,1,United States,TX,Texas,...,Andersen,75344,Center,Mia,Miami,Heat,14,11,111.13,245
23,5,1987-11-05,11,1987,Huntington,USA,1,United States,WV,West Virginia,...,Mayo,395372,Shooting Guard,Mil,Milwaukee,Bucks,15,3,95.25,210
24,8,1994-07-08,7,1994,Atlanta,USA,1,United States,GA,Georgia,...,Adams,697719,Shooting Guard,Mem,Memphis,Grizzlies,29,3,94.80,209
25,17,1984-04-17,4,1984,Las Vegas,USA,1,United States,NV,Nevada,...,Watson,174025,Point Guard,Orl,Orlando,Magic,19,32,79.38,175
26,4,1993-01-04,1,1993,Norfolk,USA,1,United States,VA,Virginia,...,McAdoo,609569,Power Forward,GS,Golden State,Warriors,9,20,104.33,230
27,28,1990-12-28,12,1990,Greensoboro,USA,1,United States,NC,North Carolina,...,Henson,502871,Power Forward,Mil,Milwaukee,Bucks,15,31,104.33,230
28,7,1992-05-07,5,1992,Grand Forks,USA,1,United States,ND,North Dakota,...,Johnson,571786,Shooting Guard,Mia,Miami,Heat,14,8,86.18,190
29,25,1986-03-25,3,1986,Bologna,ITA,27,Italy,NaN,NaN,...,Belinelli,393434,Shooting Guard,Sac,Sacramento,Kings,23,3,97.52,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,21,1992-09-21,9,1992,Southfield,USA,1,United States,MI,Michigan,...,Marble,553557,Small Forward,Orl,Orlando,Magic,19,11,90.72,200
455,2,1982-10-02,10,1982,Hanford,USA,1,United States,CA,California,...,Chandler,3493,Center,Pho,Phoenix,Suns,21,4,108.86,240
456,6,1986-05-06,5,1986,Ljubljana,YUG,46,Yugoslavia,NaN,NaN,...,Dragic,456456,Point Guard,Mia,Miami,Heat,14,7,86.18,190
457,6,1985-05-06,5,1985,Winston-Salem,USA,1,United States,NC,North Carolina,...,Paul,229598,Point Guard,LAC,Los Angeles,Clippers,12,3,79.38,175
458,3,1985-10-03,10,1985,Indianapolis,USA,1,United States,IN,Indiana,...,Lee,276755,Shooting Guard,Mem,Memphis,Grizzlies,29,5,90.72,200
459,20,1989-06-20,6,1989,Memphis,USA,1,United States,TN,Tennessee,...,Williams,467272,Shooting Guard,NaN,NaN,NaN,NaN,25,81.65,180
460,10,1984-10-10,10,1984,Pasadena,USA,1,United States,CA,California,...,Hollins,177575,Center,Mem,Memphis,Grizzlies,29,20,104.33,230
461,19,1978-06-19,6,1978,Wurzburg,FRG,44,West Germany,NaN,NaN,...,Nowitzki,3234,Power Forward,Dal,Dallas,Mavericks,6,41,111.13,245
462,17,1982-01-17,1,1982,Chicago,USA,1,United States,IL,Illinois,...,Wade,61849,Shooting Guard,Mia,Miami,Heat,14,3,99.79,220
463,11,1985-09-11,9,1985,Peoria,USA,1,United States,IL,Illinois,...,Livingston,253980,Point Guard,GS,Golden State,Warriors,9,34,82.55,182
464,16,1985-04-16,4,1985,Wau,SUD,141,Sudan,NaN,NaN,...,Deng,229569,Small Forward,Mia,Miami,Heat,14,9,99.79,220
465,15,1990-07-15,7,1990,Oakland,USA,1,United States,CA,California,...,Lillard,463121,Point Guard,Por,Portland,Trail Blazers,22,0,88.45,195
466,28,1988-04-28,4,1988,Seattle,USA,1,United States,WA,Washington,...,Hawes,329824,Center,Cha,Charlotte,Hornets,5312,00,111.13,245
467,22,1990-04-22,4,1990,Lexington,USA,1,United States,KY,Kentucky,...,Mack,477669,Point Guard,Atl,Atlanta,Hawks,1,8,92.08,203
468,24,1994-08-24,8,1994,Brampton,CAN,2,Canada,ON,Ontario,...,Ennis,786387,Point Guard,Mil,Milwaukee,Bucks,15,11,79.38,175
469,23,1988-10-23,10,1988,Detroit,USA,1,United States,MI,Michigan,...,Crawford,401082,Shooting Guard,NaN,NaN,NaN,NaN,15,88.45,195
470,10,1987-11-10,11,1987,New Orleans,USA,1,United States,LA,Louisiana,...,Augustin,329524,Point Guard,OKC,Oklahoma City,Thunder,25,14,83.01,183
471,9,1980-03-09,3,1980,Santa Clara,USA,1,United States,CA,California,...,Barnes,168051,Small Forward,Mem,Memphis,Grizzlies,29,22,102.51,226
472,2,1984-05-02,5,1984,Vevey,SUI,41,Switzerland,NaN,NaN,...,Sefolosha,329187,Small Forward,Atl,Atlanta,Hawks,1,25,99.79,220
473,13,1983-06-13,6,1983,Libertyville,USA,1,United States,IL,Illinois,...,Novak,172571,Small Forward,OKC,Oklahoma City,Thunder,25,6,102.06,225
474,10,1985-07-10,7,1985,San Diego,USA,1,United States,CA,California,...,Dudley,241712,Small Forward,Was,Washington,Wizards,27,1,102.06,225
475,6,1988-05-06,5,1988,Sacramento,USA,1,United States,CA,California,...,Anderson,329715,Power Forward,NO,New Orleans,Pelicans,3,33,108.86,240
476,29,1992-10-29,10,1992,Saint-Maurice,FRA,22,France,NaN,NaN,...,Fournier,659767,Shooting Guard,Orl,Orlando,Magic,19,10,92.99,205
477,1,1985-11-01,11,1985,Milwaukee,USA,1,United States,WI,Wisconsin,...,Landry,296943,Small Forward,Mil,Milwaukee,Bucks,15,7,104.33,230
478,5,1996-03-05,3,1996,Kinshasa,COD,109,DR Congo,NaN,NaN,...,Mudiay,877870,Point Guard,Den,Denver,Nuggets,7,0,90.72,200
479,26,1985-10-26,10,1985,Rome,ITA,27,Italy,NaN,NaN,...,Bargnani,329185,Center,Bkn,Brooklyn,Nets,17,9,111.13,245
480,9,1988-05-09,5,1988,Belgrade,YUG,46,Yugoslavia,NaN,NaN,...,Bjelica,550431,Power Forward,Min,Minnesota,Timberwolves,16,88,106.14,234
481,15,1995-03-15,3,1995,Chicago,USA,1,United States,IL,Illinois,...,Parker,756880,Power Forward,Mil,Milwaukee,Bucks,15,12,108.86,240
482,10,1996-05-10,5,1996,Burnsville,USA,1,United States,MN,Minnesota,...,Jones,842297,Point Guard,Min,Minnesota,Timberwolves,16,1,86.18,190
483,13,1993-04-13,4,1993,Bethlehem,USA,1,United States,PA,Pennsylvania,...,Hilliard,601538,Shooting Guard,Det,Detroit,Pistons,8,6,92.99,205

# From file - Alltimenbaplayers

In [85]:
# Read Data from file
with open('./data/Alltimenbaplayerslist.json') as json_data:
    k = json.load(json_data)

In [86]:
players_alltime = k['apiResults'][0]['league']['players']
len(players_alltime)

3960

In [87]:
for i in range(0, 3960):
    players_alltime[i]['positions'] = {'name':players_alltime[i]['positions'][0]['abbreviation']}

In [88]:
from pandas.io.json import json_normalize
json_normalize(players_alltime)

,birth.birthDate.date,birth.birthDate.full,birth.birthDate.month,birth.birthDate.year,birth.city,birth.country.abbreviation,birth.country.countryId,birth.country.name,birth.state.abbreviation,birth.state.name,...,lastName,playerId,positions.name,team.abbreviation,team.location,team.nickname,team.teamId,uniform,weight.kilograms,weight.pounds
0,24,1994-05-24,5,1994,Baton Rouge,USA,1,United States,LA,Louisiana,...,Martin,744245,PF,Mem,Memphis,Grizzlies,29,10,106.59,235
1,13,1989-06-13,6,1989,Gastonia,USA,1,United States,NC,North Carolina,...,Whiteside,513234,C,Mia,Miami,Heat,14,21,106.59,235
2,21,1983-06-21,6,1983,Friendswood,USA,1,United States,TX,Texas,...,Price,76032,PG,Pho,Phoenix,Suns,21,14,86.18,190
3,25,1976-04-25,4,1976,St. Croix,VIR,6,U.S. Virgin Islands,NaN,NaN,...,Duncan,3155,C,SA,San Antonio,Spurs,24,21,113.40,250
4,1,1983-02-01,2,1983,Zanesville,USA,1,United States,OH,Ohio,...,Martin,66903,SG,Min,Minnesota,Timberwolves,16,23,92.53,204
5,11,1991-02-11,2,1991,Titograd,YUG,46,Yugoslavia,NaN,NaN,...,Mirotic,599809,PF,Chi,Chicago,Bulls,4,44,99.79,220
6,21,1989-10-21,10,1989,Benin City,NGA,68,Nigeria,NaN,NaN,...,Ezeli,417020,C,GS,Golden State,Warriors,9,31,120.20,265
7,28,1981-09-28,9,1981,Villanueva de la Serena,ESP,39,Spain,NaN,NaN,...,Calderon,296475,PG,NY,New York,Knicks,18,3,95.25,210
8,19,1989-09-19,9,1989,Chester,USA,1,United States,PA,Pennsylvania,...,Evans,464841,SG,NO,New Orleans,Pelicans,3,1,99.79,220
9,6,1993-01-06,1,1993,Arlington,USA,1,United States,MA,Massachusetts,...,Connaughton,601514,SF,Por,Portland,Trail Blazers,22,5,95.25,210
10,13,1995-07-13,7,1995,Melbourne,AUS,8,Australia,NaN,NaN,...,Exum,830636,PG,Uta,Utah,Jazz,26,11,86.18,190
11,16,1994-03-16,3,1994,Yaounde,CMR,127,Cameroon,NaN,NaN,...,Embiid,794508,C,Phi,Philadelphia,76ers,20,21,113.40,250
12,5,1987-10-05,10,1987,Nashville,USA,1,United States,TN,Tennessee,...,Wright,329675,PF,Mem,Memphis,Grizzlies,29,34,108.86,240
13,8,1994-05-08,5,1994,Sheboygan,USA,1,United States,WI,Wisconsin,...,Dekker,691518,SF,Hou,Houston,Rockets,10,7,104.33,230
14,10,1988-03-10,3,1988,Fresno,USA,1,United States,CA,California,...,Pondexter,329825,SF,NO,New Orleans,Pelicans,3,20,99.79,220
15,16,1982-10-16,10,1982,Minneapolis,USA,1,United States,MN,Minnesota,...,Anderson,66858,SG,Was,Washington,Wizards,27,6,99.79,220
16,5,1995-02-05,2,1995,Bronx,USA,1,United States,NY,New York,...,McCullough,851153,PF,Bkn,Brooklyn,Nets,17,1,95.25,210
17,10,1987-05-10,5,1987,Benton Harbor,USA,1,United States,MI,Michigan,...,Chandler,295941,SF,Den,Denver,Nuggets,7,21,102.06,225
18,21,1987-08-21,8,1987,Nashville,USA,1,United States,TN,Tennessee,...,Meeks,329862,SG,Det,Detroit,Pistons,8,20,95.25,210
19,24,1991-12-24,12,1991,Houston,USA,1,United States,TX,Texas,...,Moreland,553542,PF,Sac,Sacramento,Kings,23,25,107.95,238
20,9,1989-12-09,12,1989,Birmingham,USA,1,United States,AL,Alabama,...,Bledsoe,509449,PG,Pho,Phoenix,Suns,21,2,86.18,190
21,6,1985-02-06,2,1985,Minneapolis,USA,1,United States,MN,Minnesota,...,Humphries,229649,PF,Was,Washington,Wizards,27,43,106.59,235
22,7,1978-07-07,7,1978,Lola,USA,1,United States,TX,Texas,...,Andersen,75344,C,Mia,Miami,Heat,14,11,111.13,245
23,5,1987-11-05,11,1987,Huntington,USA,1,United States,WV,West Virginia,...,Mayo,395372,SG,Mil,Milwaukee,Bucks,15,3,95.25,210
24,8,1994-07-08,7,1994,Atlanta,USA,1,United States,GA,Georgia,...,Adams,697719,SG,Mem,Memphis,Grizzlies,29,3,94.80,209
25,17,1984-04-17,4,1984,Las Vegas,USA,1,United States,NV,Nevada,...,Watson,174025,PG,Orl,Orlando,Magic,19,32,79.38,175
26,4,1993-01-04,1,1993,Norfolk,USA,1,United States,VA,Virginia,...,McAdoo,609569,PF,GS,Golden State,Warriors,9,20,104.33,230
27,28,1990-12-28,12,1990,Greensoboro,USA,1,United States,NC,North Carolina,...,Henson,502871,PF,Mil,Milwaukee,Bucks,15,31,104.33,230
28,7,1992-05-07,5,1992,Grand Forks,USA,1,United States,ND,North Dakota,...,Johnson,571786,SG,Mia,Miami,Heat,14,8,86.18,190
29,14,1988-12-14,12,1988,Lisieux,FRA,22,France,NaN,NaN,...,Batum,456451,SG,Cha,Charlotte,Hornets,5312,5,90.72,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3930,11,1945-12-11,12,1945,NaN,NaN,NaN,NaN,NaN,NaN,...,Lott,1967,SF,NaN,NaN,NaN,NaN,NaN,95.25,210
3931,28,1988-04-28,4,1988,Seattle,USA,1,United States,WA,Washington,...,Hawes,329824,C,Cha,Charlotte,Hornets,5312,00,111.13,245
3932,27,1988-06-27,6,1988,Long Beach,USA,1,United States,CA,California,...,Fields,330046,SF,NaN,NaN,NaN,NaN,2,97.52,215
3933,7,1985-11-07,11,1985,Oklahoma City,USA,1,United States,OK,Oklahoma,...,Jackson,263246,PF,NaN,NaN,NaN,NaN,2,122.47,270
3934,21,1972-01-21,1,1972,Peoria,USA,1,United States,IL,Illinois,...,Nathan,3044,PG,NaN,NaN,NaN,NaN,20,83.91,185
3935,5,1977-08-05,8,1977,Charleston,USA,1,United States,SC,South Carolina,...,Profit,3342,SG,NaN,NaN,NaN,NaN,5,92.53,204
3936,4,1924-08-04,8,1924,NaN,NaN,NaN,NaN,NaN,NaN,...,Noel,2368,SF,NaN,NaN,NaN,NaN,NaN,83.91,185
3937,27,1939-12-27,12,1939,NaN,NaN,NaN,NaN,NaN,NaN,...,Nowell,1987,PG,NaN,NaN,NaN,NaN,NaN,80.29,177
3938,26,1921-05-26,5,1921,Chicago,USA,1,United States,IL,Illinois,...,Niemiera,2400,SG,NaN,NaN,NaN,NaN,NaN,74.84,165
3939,9,1959-03-09,3,1959,Minneapolis,USA,1,United States,MN,Minnesota,...,Lamp,893,SG,NaN,NaN,NaN,NaN,NaN,88.45,195
3940,15,1990-07-15,7,1990,Sylmar,USA,1,United States,CA,California,...,Honeycutt,513492,SF,NaN,NaN,NaN,NaN,9,85.28,188
3941,22,1943-02-22,2,1943,Greenwood,USA,1,United States,IN,Indiana,...,Van Arsdale,1449,SG,NaN,NaN,NaN,NaN,NaN,95.71,211
3942,13,1976-05-13,5,1976,Stanford,USA,1,United States,CA,California,...,Langdon,3316,SG,NaN,NaN,NaN,NaN,24,89.36,197
3943,29,1958-10-29,10,1958,Salt Lake City,USA,1,United States,UT,Utah,...,Vranes,1177,SF,NaN,NaN,NaN,NaN,NaN,96.62,213
3944,7,1976-06-07,6,1976,Detroit,USA,1,United States,MI,Michigan,...,Jackson,3371,SG,NaN,NaN,NaN,NaN,5,92.53,204
3945,17,1953-09-17,9,1953,East Chicago,USA,1,United States,IN,Indiana,...,Bridgeman,546,SG,NaN,NaN,NaN,NaN,NaN,95.25,210
3946,1,1988-06-01,6,1988,Los Angeles,USA,1,United States,CA,California,...,Thompson,411540,SG,NaN,NaN,NaN,NaN,20,92.99,205
3947,30,1956-09-30,9,1956,Waukegan,USA,1,United States,IL,Illinois,...,Whitehead,1207,C,NaN,NaN,NaN,NaN,NaN,100.70,222
3948,12,1970-03-12,3,1970,Omaha,USA,1,United States,NE,Nebraska,...,Walters,1287,PG,NaN,NaN,NaN,NaN,NaN,88.45,195
3949,1,1985-11-01,11,1985,Milwaukee,USA,1,United States,WI,Wisconsin,...,Landry,296943,SF,Mil,Milwaukee,Bucks,15,7,104.33,230
3950,28,1967-11-28,11,1967,Philadelphia,USA,1,United States,PA,Pennsylvania,...,Graham,471,SF,NaN,NaN,NaN,NaN,25,90.72,200
3951,22,1926-11-22,11,1926,NaN,NaN,NaN,NaN,NaN,NaN,...,Berce,2068,PG,NaN,NaN,NaN,NaN,NaN,79.38,175
3952,10,1950-06-10,6,1950,Stockton,USA,1,United States,CA,California,...,Gianelli,1328,PF,NaN,NaN,NaN,NaN,NaN,99.79,220
3953,8,1936-10-08,10,1936,NaN,NaN,NaN,NaN,NaN,NaN,...,Alcorn,1593,C,NaN,NaN,NaN,NaN,NaN,102.06,225
3954,13,1973-11-13,11,1973,Memphis,USA,1,United States,TN,Tennessee,...,Hamer,3072,C,NaN,NaN,NaN,NaN,42,108.86,240
3955,23,1922-02-23,2,1922,NaN,USA,1,United States,MO,Missouri,...,Minor,2545,SG,NaN,NaN,NaN,NaN,NaN,83.91,185
3956,21,1984-11-21,11,1984,Mount Airy,USA,1,United States,MD,Maryland,...,Boone,229762,PF,NaN,NaN,NaN,NaN,2,108.86,240
3957,29,1966-08-29,8,1966,Trenton,USA,1,United States,NJ,New Jersey,...,Grant,129,PG,NaN,NaN,NaN,NaN,9,63.50,140
3958,18,1924-06-18,6,1924,Joliet,USA,1,United States,IL,Illinois,...,Mikan,2417,C,NaN,NaN,NaN,NaN,NaN,112.49,248
3959,20,1956-08-20,8,1956,Amelia,USA,1,United States,VA,Virginia,...,Epps,657,SF,NaN,NaN,NaN,NaN,NaN,88.45,195

# Output csv & clean data

In [89]:
output = json_normalize(players_alltime)

In [90]:
output.to_csv('nbaplayer_alltime.csv',index=False)